@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #3f51b5;
}
.MuiSvgIcon-colorSecondary {
  color: #f50057;
}
.MuiSvgIcon-colorAction {
  color: rgba(0, 0, 0, 0.54);
}
.MuiSvgIcon-colorError {
  color: #f44336;
}
.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}
.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}

.admin-login-page__login-title {
  font-size: var(--fnt-size-2xl);
  margin-bottom: 1rem;
}

.admin-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* 
    Width is calculated to shrink when there is a 
    scrollbar visible to prevent overflow on x axis 
  */
  width: calc(100vw - calc(100vw - 100%));

  min-height: calc(100vh - var(--header-height));
  overflow: auto;
}

.admin-login-page__container {
  margin: var(--page-padding-top) 0.5rem 1rem 0.5rem;

  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.admin-login-page__container > h3 {
  margin-bottom: 25px;
}

.admin-login-page__button {
  margin-top: 20px;
}

.admin-login-page__error {
  align-self: center;
  color: var(--login-error-clr);
  border: 1px solid var(--login-error-clr);
  width: 100%;
  padding: 10px 0;
  margin-bottom: 0.5em;
}

.admin-login-page__error-text {
  font-size: var(--fnt-size-lg);
  text-align: center;
  margin: 0 5px;
}

@media only screen and (min-width: 500px) {
  .admin-login-page__container {
    width: 400px;
  }
}
* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 0;
}

/* GLOBAL container used to have padding around the content of a page */
.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* GLOBAL button style for anchor tags */
.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 900;
  font-size: var(--fnt-size-lg);
  transition: transform ease-in-out 0.1s;
  outline: none;
}

.round-button:hover,
.round-button:focus {
  transform: scale(1.025);
}


html {
  /** Color variables used commonly in the app */
  --clr-black: black;
  --clr-white: white;

  --clr-dark-grey: #303030;
  --clr-light-grey: #7d7d7d;

  --clr-primary-700: #001380;
  --clr-primary-500: #3153b3;
  --clr-primary-400: #5971d6;
  --clr-primary-300: #7e90f9;
  --clr-primary-200: #a2b1ff;
  --clr-primary-100: #c7d3ff;
  --login-error-clr: rgb(185, 0, 0);


  /** Some sizing variables */
  --layout-max-width: 1080px;
  --page-padding-top: 3rem;
  --header-height: 6.5rem;

  /* Colors for the individual pricepoints used in the pipe table */
  --pricepoint-color-1: #d4cb76;
  --pricepoint-color-2: #77aece;
  --pricepoint-color-3: #a67dc5;
  --pricepoint-color-4: #bad473;
  --pricepoint-color-5: #d47373;

  /** Font sizes variables */
  --fnt-size-sm: 0.875rem;
  --fnt-size-md: 1rem;
  --fnt-size-lg: 1.125rem;
  --fnt-size-xl: 1.25rem;
  --fnt-size-2xl: 1.5rem;
  --fnt-size-3xl: 2rem;
  --fnt-size-4xl: 2.5rem;
}

body,
input,
textarea,
select,
button {
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--fnt-size-4xl);
  font-weight: 900;
}

h2 {
  font-size: var(--fnt-size-3xl);
  font-weight: 900;
}

h3 {
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
}

h4 {
  font-size: var(--fnt-size-xl);
  font-weight: 500;
}

p {
  font-size: var(--fnt-size-lg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--clr-white) inset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --header-bg-clr: rgba(0, 0, 0, 0.025);
  --header-border-clr: rgba(0, 0, 0, 0.25);
  --header-nav-bg-clr: rgba(255, 255, 255, 0.975);
}

.header {
  border-bottom: 1px solid var(--header-border-clr);
  box-shadow: 0 0 6px rgb(180, 180, 180);
  background-color: var(--header-bg-clr);
}

.header__content {
  height: calc(var(--header-height) - 1px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 4.5rem;
  width: 3rem;
  margin-top: -10px;
}

.header__title {
  color: var(--clr-dark-grey);
}

.header__title-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-500);
}

.header__nav-item {
  outline: none;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 900;
  font-size: var(--fnt-size-2xl);
  transition: transform 0.25s ease, color 0.1s ease;
}

.header__nav-item::before {
  content: "";
  position: absolute;
  bottom: -0.2em;
  height: 0.1em;
  border-radius: 25px;
  background-color: var(--clr-black);
  width: 0;
  transition: width 0.3s ease;
}

.header__nav-item:not(.header__nav-item--active):hover,
.header__nav-item:not(.header__nav-item--active):focus {
  cursor: pointer;
  color: var(--clr-light-grey);
}

.header__nav-item:hover::before,
.header__nav-item:focus::before {
  width: 100%;
}

.header__nav-item--active {
  color: var(--clr-primary-500);
  cursor: default;
}

.header__nav-item--active::before {
  display: none;
}

.header__menu-icon:hover,
.header__menu-icon:focus {
  cursor: pointer;
}

.header__nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: -100vw;
  background-color: var(--header-nav-bg-clr);
  color: var(--clr-black);
  transition: right 400ms ease;
  z-index: 5;
}

.header__nav-items--visible {
  right: 0;
}

.header__logout-button {
  border: none;
  background: transparent;
  padding: 0;
}

@media only screen and (min-width: 750px) {
  .header__nav {
    display: block;
  }

  .header__menu-icon {
    display: none;
  }

  .header__nav-items {
    flex-direction: row;
    position: static;
    height: 100%;
    width: 100%;
    color: var(--clr-black);
    background: none;
  }

  .header__nav-item {
    font-size: var(--fnt-size-md);
  }

  .header__logo-container {
    margin-left: 15px;
  }

  .header__close-button {
    display: none;
  }
}

.home-page__about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page__hero {
  text-align: center;
  display: block;
  margin: auto;
  box-shadow: inset 0 0 80px 40px #000000;
}

.home-page__hero-image {
  object-fit: cover;
  object-position: 0 100%;
  width: 100%;
  height: 400px;
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  z-index: -1;
  animation: fadeIn 500ms ease;
}

@keyframes fadeIn {
  from {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%);
  }
}

.home-page__about-section,
.home-page__usage-section,
.home-page__donation-section,
.home-page__donate-section {
  padding: 7rem 0rem;
}

.home-page__heading {
  margin-bottom: 3rem;
  text-align: center;
}

.home-page__usage-section,
.home-page__donate-section {
  background: radial-gradient(var(--clr-primary-500), var(--clr-primary-700));
  color: var(--clr-white);
}

.home-page__usage-section {
  padding: 10rem 0;
}

.home-page__donate-section {
  padding-top: calc(7vw + 8rem);
  clip-path: polygon(0 7vw, 100% 0, 100% 100%, 0 100%);
}

.home-page__usage-content,
.home-page__donation-content,
.home-page__donate-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page__donation-text {
  margin-bottom: 2rem;
}

.home-page__donate-content p {
  margin-bottom: 2rem;
}

.home-page__donate-button {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.home-page__donation-status {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--clr-white);
  box-shadow: 0 0 0.75rem black;
  overflow: hidden;
  border: 10px solid rgb(40, 40, 40);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__donation-status-text {
  text-align: center;
  color: var(--clr-black);
  font-size: var(--fnt-size-2xl);
  font-weight: 900;
  z-index: 2;
}

.home-page__donation-status-filler {
  width: 100%;
  background: linear-gradient(
    100deg,
    var(--clr-primary-100),
    var(--clr-primary-400)
  );
  position: absolute;
  bottom: 0;
  transition: height 2s ease-in-out;
}

.home-page__donation-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__text {
  font-size: var(--fnt-size-xl);
}

@media only screen and (min-width: 800px) {
  .home-page__donate-content > div,
  .home-page__donation-content,
  .home-page__about-content {
    flex-direction: row;
  }

  .home-page__donate-content > div > *,
  .home-page__about-content > * {
    flex: 1;
  }

  .home-page__donate-content p,
  .home-page__donation-text,
  .home-page__about-content > h1 {
    margin-bottom: 0;
    margin-right: 4rem;
  }
}

.contact-page {
  padding-top: var(--page-padding-top);
}

.contact-page__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact-page__form {
  flex-grow: 1;
  margin-bottom: 2.5rem;
}

.contact-page__message {
  resize: none;
  margin-top: 2px;
  padding: 5px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 3px;
  font-size: var(--fnt-size-lg);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.contact-page__message:focus {
  border-color: var(--clr-primary-200);
}

.contact-page__button {
  margin-top: 1em;
}

.contact-page__heading {
  margin-bottom: 1em;
}

@media only screen and (min-width: 800px) {
  .contact-page__container {
    flex-direction: row;
  }

  .contact-page__form {
    margin-bottom: 0;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.input-field__input {
  padding: 5px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 3px;
  font-size: var(--fnt-size-lg);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input-field__input:focus {
  border-color: var(--clr-primary-200);
}

.input-field__error-text {
  color: red;
  font-size: var(--fnt-size-sm);
}

.input-label {
  font-weight: 600;
  margin-bottom: 2px;
  white-space: nowrap;
}

.contact-info {
  flex-grow: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-info__items {
  border-left: 2px solid var(--clr-primary-200);
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.contact-info__text {
  font-size: var(--fnt-size-md);
}

.contact-info__item {
  margin: 1.25rem 0;
}

.contact-info__row {
  display: flex;
  align-items: center;
}

.contact-info__item-heading {
  margin-left: 0.25em;
  color: var(--clr-primary-400);
  font-weight: 700;
  font-size: var(--fnt-size-xl);
}

@media only screen and (min-width: 550px) {
  .contact-info__items {
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .contact-info {
    align-items: center;
  }

  .contact-info__items {
    grid-template-columns: 1fr;
  }
}

.button {
  border-radius: 25px;
  overflow: hidden;
  width: 150px;

  --disabled-btn-clr: rgb(90, 90, 90);
}

.button__inner {
  position: relative;
  border: 0.2rem solid var(--clr-primary-500);
  border-radius: 25px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  color: var(--clr-primary-500);
  font-weight: bold;
  font-size: var(--fnt-size-md);
  outline: none;
  transition: color 0.1s ease;
}

.button__inner::before,
.button__inner::after {
  content: "";
  background-color: var(--clr-primary-500);
  position: absolute;
  top: -50%;
  width: 0%;
  height: 200%;
  transition: width 0.25s ease-in-out;
  transform: rotate(15deg);
  z-index: -1;
}

.button__inner::before {
  left: -5%;
}

.button__inner::after {
  right: -5%;
}

.button__inner:not(.button__inner--disabled):hover::before,
.button__inner:not(.button__inner--disabled):hover::after,
.button__inner:not(.button__inner--disabled):focus::before,
.button__inner:not(.button__inner--disabled):focus::after {
  width: 55%;
}

.button__inner:not(.button__inner--disabled):hover,
.button__inner:not(.button__inner--disabled):focus {
  color: var(--clr-white);
  cursor: pointer;
}

.button__inner--disabled {
  color: var(--disabled-btn-clr);
  border-color: var(--disabled-btn-clr);
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: var(--clr-primary-500);
  border-radius: 5px;
  border: none;
  font-size: var(--fnt-size-lg);
  font-weight: 600;
  height: 2.25em;
  color: white;
  transition: all 250ms ease;
}

.action-button--loading {
  cursor: default;
}

.action-button--loading:before {
  content: "";
  width: 18px;
  height: 18px;
  border-left: 5px solid rgba(255, 255, 255, 0.25);
  border-top: 5px solid rgba(255, 255, 255, 0.25);
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-radius: 50%;
  animation: spin infinite 750ms ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.action-button:not(.action-button--loading):not(.action-button--disabled):hover {
  filter: contrast(1.15);
  transform: scale(0.995);
}

.action-button--disabled {
  filter: grayscale(75%);
  cursor: default;
}

:root {
  --data-instructions-clr: rgb(59, 59, 59);
}

.data-page {
  margin-top: var(--page-padding-top);
}

.data-page__form {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-page__heading {
  font-size: var(--fnt-size-2xl);
  text-align: center;
  margin-bottom: 0.75em;
}

.data-page__file-input {
  display: none;
}

.data-page__file-input-label {
  display: inline-block;
  padding: 1em;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.125rem;
  color: var(--clr-white);
  background-color: var(--clr-black);
  transition: background-color 250ms ease;
}

.data-page__file-input-label:not(.data-page__file-input-label--selected):hover {
  background-color: var(--clr-dark-grey);
}

.data-page__file-input-label--selected {
  background-color: var(--clr-light-grey);
}

.data-page__text-input {
  max-width: 20rem;
}

.data-page__upload-button {
  margin: 1rem 0 0.5rem 0;
  max-width: 25rem;
}

.data-page__spinner {
  margin: 2rem auto;
}

.data-page__instructions-text {
  font-size: var(--fnt-size-lg);
  color: var(--data-instructions-clr);
  animation: fadeIn 100ms ease-in;
}

@keyframes fadeIn {
  from {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%);
  }
}

@media only screen and (min-width: 400px) {
  .data-page__inputs {
    display: flex;
    align-items: center;
  }

  .data-page__file-input-label {
    margin-right: 2rem;
  }
}

.manual-edit__heading {
  font-size: var(--fnt-size-2xl);
  font-weight: 900;
  text-align: center;
  margin-bottom: 1em;
}

.manual-edit__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
  border: 1px solid rgb(121, 121, 121);
  margin: 0 auto;
  margin-bottom: 0.5em;
  max-width: 40rem;
}

.manual-edit__delete-button {
  flex: 0;
}

.manual-edit__text {
  text-align: center;
  color: var(--clr-primary-700);
  font-weight: 700;
  font-size: var(--fnt-size-xl);
}

.input-field {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.input-field__input {
  padding: 5px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 3px;
  font-size: var(--fnt-size-lg);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input-field__input:focus {
  border-color: var(--clr-primary-200);
}

.input-field__error-text {
  color: red;
  font-size: var(--fnt-size-sm);
}


:root {
  --pipe-button-selected-clr: rgba(0, 0, 0, 0.3);
  --table-row-col-clr: rgba(0, 0, 0, 0.6);
}

.pipe-table {
  display: block;
  max-width: 95%;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
  white-space: nowrap;
  animation: fadeIn 250ms ease;
}

@keyframes fadeIn {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}

.pipe-table__heading {
  font-weight: 500;
}

.pipe-table__heading--top {
  padding-bottom: 10px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.pipe-table__heading--top:last-child {
  border-right: none;
}

.pipe-table__heading--left {
  padding-right: 10px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  text-align: left;
}

.pipe-table__body > .pipe-table__row:last-child > .pipe-table__heading--left {
  border-bottom: none;
}

.pipe-table__cell {
  text-align: center;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.pipe-table__cell:last-child {
  border-right: none;
}

.pipe-table__row:last-child > .pipe-table__cell {
  border-bottom: none;
}

.pipe-table__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pipe-table__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
  width: 18px;
  height: 18px;
  outline: none;
  border: 2px solid black;
  background-color: white;
  border-radius: 4px;
  padding: 0;
}

.pipe-table__button--pricepoint1 > .pipe-table__cell-fill {
  background-color: var(--pricepoint-color-1);
}
.pipe-table__button--pricepoint2 > .pipe-table__cell-fill {
  background-color: var(--pricepoint-color-2);
}
.pipe-table__button--pricepoint3 > .pipe-table__cell-fill {
  background-color: var(--pricepoint-color-3);
}
.pipe-table__button--pricepoint4 > .pipe-table__cell-fill {
  background-color: var(--pricepoint-color-4);
}
.pipe-table__button--pricepoint5 > .pipe-table__cell-fill {
  background-color: var(--pricepoint-color-5);
}

.pipe-table__button--pricepoint1 {
  border-color: var(--pricepoint-color-1);
}
.pipe-table__button--pricepoint2 {
  border-color: var(--pricepoint-color-2);
}
.pipe-table__button--pricepoint3 {
  border-color: var(--pricepoint-color-3);
}
.pipe-table__button--pricepoint4 {
  border-color: var(--pricepoint-color-4);
}
.pipe-table__button--pricepoint5 {
  border-color: var(--pricepoint-color-5);
}

.pipe-table__button:not(.pipe-table__button--available)
  > .pipe-table__cell-fill {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  position: absolute;
}



.pipe-table__heading--row-col {
  color: var(--table-row-col-clr);
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.pipes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--page-padding-top);
}

.pipes-page .pipe-table__button {
  border-radius: 4px;
  transition: transform 200ms ease;
}

.pipe-table__button--selected {
  background-color: var(--pipe-button-selected-clr);
  box-shadow: 0 0 3px 1px var(--pipe-button-selected-clr);
}

.pipes-page .pipe-table__button:focus {
  outline: 2px solid lightgray;
}

.pipe-table__button--available:not(.pipe-table__button--selected):hover,
.pipe-table__button--available:not(.pipe-table__button--selected):focus {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pipes-page__price-legend {
  margin-top: 3rem;
}

.pipe-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0 15px;
  min-width: 75px;
  padding: 15px 10px 10px 10px;
  border-width: 0 3px 3px 3px;
  border-color: lightgray;
  border-style: solid;
  position: relative;
  margin: 10px 0;
}

.pipe-info__heading {
  position: absolute;
  display: flex;
  top: -8px;
  left: 0;
  right: 0;
  align-items: center;
  color: var(--clr-primary-500);
  font-weight: bold;
  white-space: nowrap;
}

.pipe-info__heading::before {
  margin-right: 10px;
}

.pipe-info__heading::after {
  margin-left: 10px;
}

.pipe-info__heading::before,
.pipe-info__heading::after {
  content: "";
  height: 3px;
  background-color: lightgray;
  display: block;
  width: 50%;
}

.pipe-info__item {
  display: flex;
  gap: 0 5px;
  font-style: italic;
}

.pipe-info__item-label {
  font-weight: 600;
}

.manuals {
  width: 90%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.manuals__button {
  height: 75px;
  min-width: 150px;
  flex: 1;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 4px;
  background-color: var(--clr-white);
  font-size: var(--fnt-size-lg);
  font-weight: bold;
  outline: none;
  transition: transform 0.25s ease, color 0.1s ease, box-shadow 0.25s ease;
}

.manuals__button:not(.manuals__button--active):hover,
.manuals__button:not(.manuals__button--active):focus {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: 3px 5px 10px lightgray;
}

.manuals__button--active {
  background-color: var(--clr-primary-500);
  color: var(--clr-white);
  border-color: var(--clr-primary-500);
}


.price-legend {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.price-legend__container {
  display: flex;
}

.price-legend__container:not(:last-of-type) {
  margin-bottom: 1rem;
}

.price-legend__items {
  padding-inline-start: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.price-legend__item:nth-child(1) {
  background-color: var(--pricepoint-color-1);
}
.price-legend__item:nth-child(2) {
  background-color: var(--pricepoint-color-2);
}
.price-legend__item:nth-child(3) {
  background-color: var(--pricepoint-color-3);
}
.price-legend__item:nth-child(4) {
  background-color: var(--pricepoint-color-4);
}
.price-legend__item:nth-child(5) {
  background-color: var(--pricepoint-color-5);
}

.price-legend__item,
.price-legend__reserved,
.price-legend__available {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

.price-legend__label {
  font-weight: 500;
  font-size: var(--fnt-size-md);
}

.price-legend__label:not(:last-of-type) {
  margin-right: 2rem;
}

.price-legend__reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  border: 3px solid var(--pricepoint-color-1);
}

.price-legend__reserved-fill {
  background-color: var(--pricepoint-color-1);
  height: 12px;
  width: 12px;
  border-radius: 2px;
}

.price-legend__available {
  height: 16px;
  width: 16px;
  border: 3px solid var(--pricepoint-color-1);
}

@media only screen and (min-width: 850px) {
  .price-legend {
    flex-direction: row;
  }

  .price-legend__container:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}

.pipe-tooltip {
    color: #fff !important;
    background: #222;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 8px 21px;
}

.pipe-tooltip table{
    color: #fff !important;
    font-size: 13px !important;
}

.pipe-tooltip.place-top {
    margin-top: -10px;
}

.pipe-tooltip.place-top::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: -1;
    width: 18px;
    height: 10px;
}

.pipe-tooltip.place-top::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    transform: rotate(135deg);
}

.pipe-tooltip.place-bottom {
    margin-top: 10px;
}
.pipe-tooltip.place-bottom::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: -1;
    width: 18px;
    height: 10px;
}
.pipe-tooltip.place-bottom::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    transform: rotate(45deg);
}

.pipe-tooltip.place-left {
    margin-left: -10px;
}
.pipe-tooltip.place-left::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 18px;
}
.pipe-tooltip.place-left::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    right: -6px;
    top: 50%;
    margin-top: -6px;
    transform: rotate(45deg);
}

.pipe-tooltip.place-right {
    margin-left: 10px;
}
.pipe-tooltip.place-right::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 18px;
}
.pipe-tooltip.place-right::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    left: -6px;
    top: 50%;
    margin-top: -6px;
    transform: rotate(-135deg);
}
    
.__react_component_tooltip {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;  
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  top: -999em;
  left: -999em;
  margin-left: -60px;
  visibility: hidden;
  z-index: 999;
}
.__react_component_tooltip.allow_hover, .__react_component_tooltip.allow_click {
  pointer-events: auto;
}
.__react_component_tooltip::before, .__react_component_tooltip::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}
.__react_component_tooltip.show {
  opacity: 0.9;
  margin-top: 0;
  margin-left: 0;
  visibility: visible;
}

.__react_component_tooltip.place-top::before {
  bottom: 0;
  margin-left: -11px;
}

.__react_component_tooltip.place-bottom::before {
  top: 0;
  margin-left: -11px;
}

.__react_component_tooltip.place-left::before {
    right: 0;
    top: 50%;
    margin-top: -9px;
}

.__react_component_tooltip.place-right::before {
    left: 0;
    top: 50%;
    margin-top: -9px;
}

.__react_component_tooltip .multi-line {
  display: block;
  padding: 2px 0;
  text-align: center;
}

.donation-page {
  height: 100%;
  padding: var(--page-padding-top) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donation-page__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.donation-page__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 250ms ease;
}

.donation-page__info-container > button {
  margin-top: 15px;
}

.donation-page__message {
  color: red;
  font-size: var(--fnt-size-lg);
}

.donation-page__price-legend {
  margin-top: 2.5rem;
}

.donation-page__line {
  width: 80%;
  margin-top: 1rem;
  max-width: calc(var(--layout-max-width) - 6rem);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@keyframes fadeIn {
  0% {
    filter: opacity(0%);
    transform: scale(0.95);
  }
  100% {
    filter: opacity(100%);
    transform: scale(1);
  }
}

@media only screen and (min-width: 650px) {
  .donation-page__info-container {
    flex-direction: row;
    gap: 1rem;
  }
}

.price-tooltip {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 8px 21px;
}

.price-tooltip.place-top {
    margin-top: -10px;
}
.price-tooltip.place-top::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 12px;
}
.price-tooltip.place-top::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    transform: rotate(135deg);
}

.price-tooltip.place-bottom {
    margin-top: 10px;
}
.price-tooltip.place-bottom::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: -1;
    width: 18px;
    height: 10px;
}
.price-tooltip.place-bottom::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    transform: rotate(45deg);
}

:root {
  --card-error-clr: rgb(105, 115, 134);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  animation: fadeIn 250ms ease;
}

@keyframes fadeIn {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}

.form__container {
  position: relative;
}

.form__container::before {
  content: "";
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 25vw);
  width: 50vw;
  height: 150px;
  background: linear-gradient(
    to right,
    var(--clr-primary-300),
    var(--clr-primary-700),
    var(--clr-primary-300)
  );
  transform: skew(-20deg);
  z-index: -10;
}

.form__content,
.form__container {
  border-radius: 0.5rem 0.5rem 0 0;
}

.form__wrapper {
  max-width: 600px;
}

.form__heading-text {
  font-size: var(--fnt-size-2xl);
}

.form__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form__content {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 15px 10px 15px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
}

.form__city-row {
  display: flex;
  justify-content: space-between;
}

.form__city-row > :first-child {
  width: 65%;
}

.form__city-row > :last-child {
  width: 30%;
}

.form__label {
  font-weight: bold;
  margin-bottom: 2px;
}

.form__conformation {
  width: 100%;
  align-self: center;
}

.form__state-select {
  text-overflow: ellipsis;
  width: 100%;
}

#card-error {
  color: var(--card-error-clr);
  font-size: var(--fnt-size-md);
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}

#card-element {
  padding: 12px;
  border: 1px solid lightgray;
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

#card-element > input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: var(--fnt-size-md);
  width: 100%;
  background: white;
  box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
  .form__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .form__name-row {
    display: flex;
    justify-content: space-between;
  }

  .form__name-row > * {
    width: 47%;
  }
}

@media only screen and (min-width: 500px) {
  .form__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.select-field {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.select-field__input {
  padding: 5px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 3px;
  font-size: var(--fnt-size-lg);
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.select-field__input:focus {
  border-color: var(--clr-primary-200);
}

.select-field__error-text {
  color: red;
  font-size: var(--fnt-size-sm);
}

.form-checkbox {
  margin-top: 10px;
}

.form-checkbox__input {
  margin-right: 10px;
}

.form-checkbox__error {
  font-size: var(--fnt-size-md);
  color: red;
}

.donation-button {
  background: var(--clr-primary-500);
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: var(--fnt-size-md);
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.donation-button:hover {
  filter: contrast(115%);
}

.donation-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.donation-button__spinner,
.donation-button__spinner:before,
.donation-button__spinner:after {
  border-radius: 50%;
}

.donation-button__spinner {
  color: #ffffff;
  font-size: var(--fnt-size-xl);
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.donation-button__spinner:before,
.donation-button__spinner:after {
  position: absolute;
  content: "";
}

.donation-button__spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.donation-button__spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

:root {
  --bank-transfer-info-clr: rgb(0, 0, 0, 0.7);
}

.bank-transfer-page {
  padding-top: 4.5rem;
  padding-bottom: var(--page-padding-top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bank-transfer-page__heading {
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
  margin-bottom: 1em;
}

.bank-transfer-page__instructions {
  table-layout: fixed;
  padding: 1em 0;
  width: calc(100% + 2rem);
  background-color: var(--clr-primary-500);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
  color: var(--clr-white);
  border-spacing: 20px 5px;
}

.bank-transfer-page__warning {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.bank-transfer-page__warning-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: black;
  color: var(--clr-white);
}

.bank-transfer-page__warning-icon::before {
  content: "!";
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
}

.bank-transfer-page__warning-text {
  color: black;
}

.bank-transfer-page__instructions th {
  text-align: right;
}

.bank-transfer-page__instructions td {
  text-align: left;
}

.bank-transfer-page__instructions-row {
  display: flex;
  flex-direction: column;
  gap: 40px 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 2rem;
}

.bank-transfer-page__instructions-row > * {
  flex-basis: 100%;
}

.bank-transfer-page__instructions-row > p {
  max-width: 450px;
  padding: 0 1em;
}

.bank-transfer-page__instructions-text {
  font-weight: 500;
  color: var(--clr-primary-700);
}

.bank-transfer-page__button {
  margin-top: 2rem;
  background-color: var(--clr-primary-500);
  color: var(--clr-white);
  max-width: 400px;
  align-self: center;
}

.bank-transfer-page__info {
  margin-bottom: 2.5rem;
  font-weight: 500;
  color: var(--bank-transfer-info-clr);
}

@media only screen and (min-width: 750px) {
  .bank-transfer-page__instructions {
    max-width: 500px;
    border-radius: 25px;
  }

  .bank-transfer-page__instructions-row {
    flex-direction: row;
  }

  .bank-transfer-page__instructions-row > p {
    padding: 0;
  }
}

.os-donator, .os-public-donator, .ico-donator, .ico-public-donator {
    display: none;
}

.modal {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.75);
  animation: fadeIn 100ms ease-in;
}

@keyframes fadeIn {
  from {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%);
  }
}

.modal__container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  margin: 20px;
}

.modal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__title {
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
  text-decoration: underline;
}

:root {
  --instructions-text-clr: rgb(80, 80, 80);
}

.instructions {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.instructions__heading {
  margin-bottom: 1em;
}

.instructions__text {
  color: var(--instructions-text-clr);
  font-size: var(--fnt-size-2xl);
  font-weight: 700;
}

.instructions__button {
  background: none;
  outline: none;
  margin-left: 0.5em;
  font-size: var(--fnt-size-2xl);
  text-align: center;
  font-weight: 700;
  color: var(--clr-primary-400);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  transition: background-color 250ms ease, color 250ms ease;
  border: 3px solid var(--clr-primary-400);
}

.instructions__button:hover,
.instructions__button:focus {
  cursor: pointer;
  background-color: var(--clr-primary-400);
  color: white;
}

.instructions__item {
  font-size: var(--fnt-size-lg);
  margin-bottom: 1em;
  max-width: 700px;
}

.instructions__item::marker {
  color: var(--clr-primary-500);
  font-weight: 900;
  width: 50px;
  height: 50px;
}


.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #3f51b5;
}
.MuiSvgIcon-colorSecondary {
  color: #f50057;
}
.MuiSvgIcon-colorAction {
  color: rgba(0, 0, 0, 0.54);
}
.MuiSvgIcon-colorError {
  color: #f44336;
}
.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}
.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}


.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.MuiIconButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
@media (hover: none) {
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}
.MuiIconButton-edgeStart {
  margin-left: -12px;
}
.MuiIconButton-sizeSmall.MuiIconButton-edgeStart {
  margin-left: -3px;
}
.MuiIconButton-edgeEnd {
  margin-right: -12px;
}
.MuiIconButton-sizeSmall.MuiIconButton-edgeEnd {
  margin-right: -3px;
}
.MuiIconButton-colorInherit {
  color: inherit;
}
.MuiIconButton-colorPrimary {
  color: #3f51b5;
}
.MuiIconButton-colorPrimary:hover {
  background-color: rgba(63, 81, 181, 0.04);
}
@media (hover: none) {
  .MuiIconButton-colorPrimary:hover {
    background-color: transparent;
  }
}
.MuiIconButton-colorSecondary {
  color: #f50057;
}
.MuiIconButton-colorSecondary:hover {
  background-color: rgba(245, 0, 87, 0.04);
}
@media (hover: none) {
  .MuiIconButton-colorSecondary:hover {
    background-color: transparent;
  }
}
.MuiIconButton-sizeSmall {
  padding: 3px;
  font-size: 1.125rem;
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}


.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}
.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}

.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--page-padding-top);
}

.orders__heading {
  align-self: flex-start;
  margin-bottom: 0.25em;
}

.orders__panel {
  width: 100%;
}

.orders__error {
  margin-top: 3rem;
}

.orders__pre-error {
  color: var(--clr-primary-500);
  font-weight: 900;
}

:root {
  --table-stripe-clr: #f1f1f1;
}

.table__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 2rem);
}

.table__container {
  overflow-x: auto;
  box-shadow: 0 0 3px lightgray;
  border-radius: 5px;
}

.table {
  border-collapse: collapse;
  min-width: calc(var(--layout-max-width) - 3rem);
  text-align: center;
  white-space: nowrap;
}

.table__header {
  background-color: var(--clr-primary-500);
  padding: 10px;
  color: white;
}

.table__heading,
.table__cell {
  padding: 10px;
}

.table__row:nth-of-type(even) {
  background-color: var(--table-stripe-clr);
}

.table__cell {
  font-weight: 500;
}

.order-table__table {
  width: 100%;
}

.order-table__state {
  font-weight: 700;
}

.order-table__state--orange {
  color: orange;
}

.order-table__state--red {
  color: red;
}

.order-table__state--green {
  color: green;
}

.order-table__donator,
.order-table__payment,
.order-table__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-table__pipe-text {
  color: var(--clr-primary-300);
  transition: color 100ms ease;
}

.order-table__pipe-text:hover {
  color: var(--clr-primary-400);
}

.order-table__no-data {
  padding: 0 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-table__no-data-text {
  font-size: var(--fnt-size-2xl);
  font-weight: 500;
}

.order-table__no-data-icon {
  margin-right: 2rem;
}

